/*
Colors:
#f9f9f9
#495174
#31f3a0
*/

html {
  background-color: #f9f9f9;
  overflow-x: hidden;
}

::selection {
  background: #31f3a0;
}
::-moz-selection {
  background: #31f3a0;
}

a {
  text-decoration: none;
}

/* --------------------
    Fonts
-------------------- */

@font-face {
    font-family: 'black';
    src: url('../font/montserrat/black.woff') format('woff'), url('../font/montserrat/black.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'bold';
    src: url('../font/montserrat/bold.WOFF') format('woff'), url('../font/montserrat/bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'extrabold';
    src: url('../font/montserrat/extrabold.woff') format('woff'), url('../font/montserrat/extrabold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'hairline';
    src: url('../font/montserrat/hairline.woff') format('woff'), url('../font/montserrat/hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'light';
    src: url('../font/montserrat/light.woff') format('woff'), url('../font/montserrat/light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'regular';
    src: url('../font/montserrat/regular.woff') format('woff'), url('../font/montserrat/regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'semibold';
    src: url('../font/montserrat/semibold.woff') format('woff'), url('../font/montserrat/semibold.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ultralight';
    src: url('../font/montserrat/ultralight.woff') format('woff'), url('../font/montserrat/ultralight.woff') format('woff');
}
/* --------------------
    Page Fading
-------------------- */
div.hidden {
    display: none
}

.scrollhide {
    opacity:0;
}

/* --------------------
    Sidebar/Main Navigation
-------------------- */
.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100px;
    background-color: #fff;
    box-shadow: 10px 60px 60px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}

.text5 {
  font-size: 30px;
  font-family: "regular";
  color: #495174;
  transform: rotate(270deg);
  position: relative;
  left: 60px;
}

.text5:nth-child(1) {
    padding-top: 250px;
    left: -130px;
}

.text5:nth-child(2) {
    padding-top: 50px;
    left: -30px;
}

.text5:nth-child(3) {
  padding-top: 180px;
  left: -95px;
}

.text5:nth-child(4) {
  padding-top: 100px;
  left: -55px;
}

.text5, a:hover {
  color: #31f3a0;
}

/* --------------------
    Header
-------------------- */
.header {
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}

.textcontainer1{
    top: 25vh;
    left: 150px;
    position: absolute;
}

@media (max-width: 840px) {
  .textcontainer1 {
    top: 40vh;
  }
}

@media (max-width: 600px) {
  .textcontainer1 {
    left: 50px;
    top: 40vh;
  }
}


.text1 {
 font-size: 180px;
 font-family: "black";
 color: #495174;
 line-height: 1;
 left: 150px;
}

@media (max-width: 1024px) {
  .text1 {
    font-size: 125px;
  }
}

@media (max-width: 960px) {
  .text1 {
    font-size: 125px;
  }
}

@media (max-width: 840px) {
  .text1 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .text1 {
    font-size: 75px;
  }
}

@media (max-width: 375px) {
  .text1 {
    font-size: 40px;
  }
}

.text2 {
  font-size: 180px;
  font-family: "black";
  line-height: 1;
  background: -webkit-linear-gradient(135deg, #4fc5f7, #31f3a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 150px;
}

@media (max-width: 1024px) {
  .text2 {
    font-size: 125px;
  }
}

@media (max-width: 960px) {
  .text2 {
    font-size: 125px;
  }
}

@media (max-width: 600px) {
  .text2 {
    font-size: 75px;
  }
}

@media (max-width: 840px) {
  .text2 {
    font-size: 75px;
  }
}

@media (max-width: 480px) {
  .text2 {
    font-size: 60px;
  }
}

@media (max-width: 375px) {
  .text2 {
    font-size: 40px;
  }
}

.text3 {
  font-size: 30px;
  font-family: "regular";
  color: #495174;
  line-height: 1;
  position: absolute;
  top: 75vh;
  left: 50%;
}

@media (max-width: 1280px) {
  .text3 {
    top: 75vh;
  }
}

@media (max-width: 960px) {
  .text3 {
    top: 60vh;
    left: 40%;
  }
}

@media (max-width: 840px) {
  .text3 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .text3 {
    font-size: 20px;
    left: 50px;
    top: 62vh;
  }
}

@media (max-width: 375px) {
  .text3 {
    font-size: 15px;
  }
}

.text4 {
  font-size: 500px;
  font-family: "black";
  line-height: 1;
  color: #f9f9f9;
  text-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1280px) {
  .text4 {
    font-size: 450px;
  }
}

@media (max-width: 960px) {
  .text4 {
    font-size: 340px;
  }
}

@media (max-width: 600px) {
  .text4 {
    display: none;
  }
}

.textcontainer2 {
  width: 100%;
  height: 100%;
  margin-left: -50px;
  margin-top: 20vh;
}

/* --------------------
    Work
-------------------- */
.work {
  height: 90vh;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 720px) {
  .work {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .work {
    height: 70vh;
  }
}

@media (max-width: 375px) {
  .work {
    height: 100vh;
  }
}

.textcontainer3 {
  position: absolute;
  left: 150px;
  top: 110vh;
}

@media (max-width: 600px) {
  .textcontainer3 {
    left: 50px;
  }
}

.text6 {
  font-size: 100px;
  font-family: "black";
  color: #495174;
  top: 65px;
  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .text6 {
    font-size: 50px;
  }
}

.text7 {
  font-size: 50px;
  font-family: "black";
  color: #495174;
  line-height: 1.25;
}

@media (max-width: 600px) {
  .text7 {
    font-size: 40px;
  }
}

.text7:hover {
  color: #31f3a0;
}

.text8 {
  font-size: 30px;
  font-family: "regular";
  color: #495174;
  line-height: 1.25;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .text8 {
    font-size: 20px;
  }
}

/* --------------------
    Photos
-------------------- */
.photos {
  height: 120vh;
  width: 100%;
  background-color: #f9f9f9;
}

@media (max-width: 1024px) {
  .photos {
    height: 110vh;
  }
}

@media (max-width: 960px) {
  .photos {
    height: 100vh;
  }
}

@media (max-width: 720px) {
  .photos {
    height: 60vh;
  }
}

@media (max-width: 600px) {
  .photos {
    height: 110vh;
  }
}

@media (max-width: 375px) {
  .photos {
    height: 85vh;
  }
}

.text9 {
  font-size: 100px;
  font-family: "black";
  color: #495174;
  line-height: 1;
  top: 65px;
}

@media (max-width: 720px) {
  .text9 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .text9 {
    font-size: 50px;
  }
}

.textcontainer4 {
  position: absolute;
  left: 150px;
  top: 200vh;
}

@media (max-width: 720px) {
  .textcontainer4 {
    top: 185vh;
  }
}

@media (max-width: 600px) {
  .textcontainer4 {
    top: 175vh;
    left: 50px;
  }
}

@media (max-width: 375px) {
  .textcontainer4 {
    top: 205vh;
  }
}

.photosgrid {
    max-width: 80%;
    position: absolute;
    top: 220vh;
    left: 21vw;
}

@media (max-width: 960px) {
  .photosgrid {
    left: 18vw;
  }
}

@media (max-width: 720px) {
  .photosgrid {
    top: 200vh;
    left: 23vw;
  }
}

@media (max-width: 600px) {
  .photosgrid {
    left: 18vw;
    top: 190vh;
  }
}

@media (max-width: 375px) {
  .photosgrid {
    top: 220vh;
  }
}

.photosgrid img {
    max-width: 300px;
    display:inline-block;
    width: 30%;
}

@media (max-width: 600px) {
  .photosgrid img {
    width: 40%;
  }
}


/* --------------------
    Contact
-------------------- */
.contact {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 720px) {
  .contact {
    height: 60vh;
  }
}

@media (max-width: 375px) {
  .contact {
    height: 50vh;
  }
}

.avatarimg {
  width: auto;
  height: 500px;
  position: absolute;
  left: 250px;
  top: 325vh;
  box-shadow: 8px 40px 60px rgba(0, 0, 0, 0.1);
}

@media (max-width: 960px) {
  .avatarimg {
    top: 305vh;
  }
}

@media (max-width: 840px) {
  .avatarimg {
    height: 400px;
    top: 310vh;
    left: 150px;
  }
}

@media (max-width: 720px) {
  .avatarimg {
    top: 250vh;
  }
}

@media (max-width: 600px) {
  .avatarimg {
    height: 350px;
    left: 50px;
  }
}

@media (max-width: 375px) {
  .avatarimg {
    display: none;
  }
}

.text10 {
  font-size: 25px;
  font-family: "regular";
  color: #495174;
  line-height: 1;
  position: absolute;
  left: 650px;
  top: 330vh;
}

@media (max-width: 960px) {
  .text10 {
    top: 320vh;
  }
}

@media (max-width: 840px) {
  .text10 {
    font-size: 20px;
    left: 450px;
    top: 320vh;
  }
}

@media (max-width: 720px) {
  .text10 {
    top: 250vh;
  }
}

@media (max-width: 600px) {
  .text10 {
    font-size: 20px;
    left: 300px;
    top: 310vh;
  }
}

@media (max-width:375px) {
  .text10 {
    font-size: 20px;
    left: 50px;
    top: 290vh;
  }
}

.text11 a {
    font-size: 100px;
    font-family: "black";
    color: #31f3a0;
    line-height: 1;
    position: absolute;
    left: 450px;
    top: 340vh;
}

@media (max-width: 1024px) {
  .text11 a {
    font-size: 75px;
    top: 345vh;
  }
}

@media (max-width: 960px) {
  .text11 a {
    top: 330vh;
    font-size: 75px;
  }
}

@media (max-width: 840px) {
  .text11 a {
    top: 330vh;
    font-size: 50px;
    left: 350px;
  }
}

@media (max-width: 720px) {
  .text11 a{
    top: 265vh;
  }
}

@media (max-width: 600px) {
  .text11 a {
    top: 325vh;
    font-size: 50px;
    left: 250px;
  }
}

@media (max-width: 480px) {
  .text11 a {
    font-size: 40px;
    left: 200px;
  }
}

@media (max-width: 375px) {
  .text11 a {
    font-size: 30px;
    left: 50px;
    top: 300vh;
  }
}

.text11 a:hover {
  color: #495174 !important;
}

.text12 {
  font-size: 25px;
  font-family: "regular";
  color: #495174;
  line-height: 1;
}

@media (max-width: 840px) {
  .text12 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .text12 {
    font-size: 20px;
  }
}

.text12, a{
  color: #495174;
}

.text12, a:hover {
  color: #31f3a0;
}

.social {
  position: absolute;
  top: 375vh;
  left: 650px;
}

@media (max-width: 960px) {
  .social {
    top: 375vh;
  }
}

@media (max-width: 840px) {
  .social {
    top: 350vh;
    left: 450px;
  }
}

@media (max-width: 720px) {
  .social {
    top: 280vh;
  }
}

@media (max-width: 600px) {
  .social {
    left: 300px;
    top: 350vh;
  }
}

@media (max-width: 375px) {
  .social {
    left: 50px;
    top: 315vh;
  }
}
